@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #333333;
  height: 100vh;
  background-color: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark Mode */
.dark body {
  background-color: #333333;
  color: #FAFAFA;
}